<template>
  <div class="ui container">
    <div v-if="! running">
      <div class="ui styled fluid accordion">
        <div v-for="tool in tools" :key="tool.id" >
          <tool :id="tool.id" :parameters="tool.parameters" @enabledToggled="koko"></tool>
          <!-- <pre>{{ tool }}</pre>   -->
        </div>   
      </div>
      <div class="ui divider"></div>
      <div class="ui two column grid">
          <div class="column">
            <button class="ui button green fluid">Add Tool <i class="ui icon plus"></i></button>
          </div>
          <div class="column">
            <button class="ui button blue fluid" @click="runTheApp">Run <i class="ui icon play"></i></button>
          </div>
      </div>
      
    </div>
    <div v-if="running">
      <runner :tools="runningTools" :input="inputs[currentInputIndex]"></runner>  
    </div>
    
  </div>
</template>

<script>
  export default {
    data: () => {
      return {
        tools: window.tools,
        running: false,
        enabledTools: new Set(),
        inputs: window.inputs,
        currentInputIndex: 0,
      }
    },
    methods: {
      koko: function({id, isEnabled}) {
        if (isEnabled) this.enabledTools.add(id);
        else this.enabledTools.delete(id);
      },
      runTheApp: function() {
        this.running = true;
        setInterval(() => {
          if(this.currentInputIndex+1 < this.inputs.length) this.currentInputIndex++
            // this.inputs.push(this.inputs[this.inputs.length-1])
        }, 2000);
      }
    },
    computed: {
      runningTools: function() {
        return tools.filter(t => this.enabledTools.has(t.id))
      }
    }
  }
</script>
