<template>
  <div>
    <div class="ui grid">
      
    </div>
    <div class="ui equal width grid">
      <div class="column">
        <div class="ui one column wide error message" style="background: #db2828;" v-if="input.electrical.generatedVoltage === 0">
          <i class="close icon"></i>
          <div class="header">
            <h3 style="color: white;">
              Error ! Generated Volt = Zero!
            </h3>
          </div>
        </div>
        <div class="ui one column wide error message" style="background: #db2828;" v-if="overCharging">
          <i class="close icon"></i>
          <div class="header">
            <h3 style="color: white;">
              Error ! Overcharging
            </h3>
          </div>
        </div>
        <div class="ui one column wide error message" style="background: #db2828;" v-if="overDischarging">
          <i class="close icon"></i>
          <div class="header">
            <h3 style="color: white;">
              Error ! Over-discharging
            </h3>
          </div>
        </div>
        <h1>Electrical</h1>
        <div class="ui progress" id="battery" ref="battery">
          <div class="bar">
            <div class="progress"></div>
          </div>
          <div class="label" style="font-size: 35px">
            {{ parseInt((lastBattery * 100).toFixed(2)) }}% 
            <i class="battery empty icon" v-if="lastBattery < 0.2"></i>
            <i class="battery low icon" v-if="lastBattery >= 0.2 && lastBattery < 0.4"></i>
            <i class="battery medium icon" v-if="lastBattery >= 0.4 && lastBattery < 0.6"></i>
            <i class="battery high icon" v-if="lastBattery >= 0.6 && lastBattery < 0.8"></i>
            <i class="battery full icon" v-if="lastBattery >= 0.8"></i>
          </div>
        </div>

        <br><br>
        <div class="ui center aligned grid">
          <div class="ui label ">
            <h1><i class="lightning icon"></i> {{ input.electrical.generatedVoltage }}</h1>
          </div>  
        </div>

        <br><br>

        <div class="ui form">
          <div class="inline fields">
            <label>Operating Mode ?</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" id="automatic" value="automatic" v-model="mode" name="mode">
                <label for="automatic">Automatic</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" id="manual" value="manual" v-model="mode" name="mode">
                <label for="manual">Manual</label>
              </div>
            </div>
          </div>
        </div>

        <br><br>
        <div class="ui form">
          <div class="inline fields">
            <label></label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" id="charging" value="charging" :disabled="mode==='automatic'" v-model="submode" name="submode">
                <label for="charging">Charging</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" id="feeding" value="feeding" :disabled="mode==='automatic'" v-model="submode" name="submode">
                <label for="feeding">Tool feeding</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui one column wide error message" v-for="err in mechanicalError" style="background: #db2828;">
          <i class="close icon"></i>
          <div class="header">
            <h3 style="color: white;">
              {{ err }}
            </h3>
          </div>
        </div>
        <h1>Mechanical</h1>
        <div class="ui celled list">
          <div class="item" v-for="tool in availableTools">
            <div class="content">
              <div class="header">Tool #{{ tool.id }}</div>
              Radial Force:
              <div class="ui label" :class="input.mechanical[tool.id].radialForce > tool.parameters[11].value ? 'red' : ''">
                {{ input.mechanical[tool.id].radialForce }} N
              </div>
              <br>
              Bending Moment:
              <div class="ui label" :class="input.mechanical[tool.id].bendingMoment > tool.parameters[12].value ? 'red' : ''">
                {{ input.mechanical[tool.id].bendingMoment }} N
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['tools', 'input'],

    data: function() {
      return {
        mode: 'automatic',
        submode: 'charging',
        lastBattery: isNaN(this.input.electrical.battery) ? 0 : this.input.electrical.battery,
        overCharging: false,
        overDischarging: false,
      }
    },

    mounted: function() {
      $(this.$refs.battery).progress({
        percent: this.input.electrical.battery * 100
      })
    },

    computed: {
      availableTools: function() {
        return this.tools.filter(t => !!this.input.mechanical[t.id]);
      },
      mechanicalError: function() {
        let errors = []; 
        this.tools
        .filter(t => !!this.input.mechanical[t.id])
        .forEach(tool => {
          if(this.input.mechanical[tool.id].radialForce > tool.parameters[11].value) {
            errors.push(`Tool #${tool.id} Exceeded Maximum Radial Force!`);
          } 
          if(this.input.mechanical[tool.id].bendingMoment > tool.parameters[12].value) {
            errors.push(`Tool #${tool.id} Exceeded Maximum Bending Moment!`);
          } 
        });
        return errors;
      }
    },

    watch: {
      input: function(newInput) {
        if (this.mode === 'manual' && this.submode === 'feeding') {
          return;
        }
        if(Math.abs(newInput.electrical.battery - this.lastBattery) > 0.03) {
          if(newInput.electrical.battery - this.lastBattery < 0) {
            this.overDischarging = true;
            this.overCharging = false;
            setTimeout(()=> {
              this.overDischarging = false;
            }, 6000);
          } else {
            this.overCharging = true;
            setTimeout(()=> {
              this.overCharging = false;
            }, 6000);
            this.overDischarging = false;
          }
        }
        this.lastBattery = newInput.electrical.battery;
        $(this.$refs.battery).progress({
          percent: newInput.electrical.battery * 100
        })
      }
    }
  }
</script>
