<template>
  <div>
    <div class="title">
      <i class="dropdown icon"></i>
      Tool #{{ id }} <i class="ui icon check green" v-if="isEnabled"></i>
    </div>
    <div class="content">
      <p class="transition hidden">
        <div class="ui checkbox">
          <input type="checkbox" v-model="isEnabled" :id="id">
          <label :for="id">Enabled</label>
        </div>
        <div class="ui divider"></div>
        <table class="ui celled padded table">
          <thead>
            <tr>
              <th class="center aligned">Parameter</th>
              <th class="center aligned">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="param in parameters">
              <td class="center aligned">{{ param.placeholder }}</td>
              <td class="center aligned">
                <div class="ui label">
                  {{ (param.value * param.times) % 1 === 0 ? parseInt(param.value * param.times) : (param.value * param.times).toFixed(1) }}
                  <span v-html="param.unit"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['id', 'parameters'],

    data: () => {
      return {
        isEnabled: false,
      };
    },

    watch: {
      isEnabled: function(isEnabled) {
        this.$emit('enabledToggled', {isEnabled, id: this.id});
      }
    }
  }
</script>
